{
  "semi": true,
  "singleQuote": true,
  "printWidth": 1000,
  "trailingComma": "es5",
  "useTabs": false,
  "singleAttributePerLine": false,
  "tabWidth": 2,
  "plugins": ["@prettier/plugin-php", "prettier-plugin-tailwindcss"],
  "overrides": [
    {
      "files": "*.php",
      "options": {
        "parser": "php"
      }
    }
  ]
}
